<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDT - Cimerman</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <!-- materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>
<body>
<div id="map-view"></div>

<script>
    $(document).ready(function () {
        var map = initMap();

        var btnShelters = L.Control.extend({
            options: {
                position: 'topright'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('a', 'center-align waves-effect waves-light btn enabled');
                container.text = "Show shelters";
                container.style.width = '200px';

                container.onclick = function () {
                    if ($(this).hasClass('enabled') == true) {
                        sheltersLayer = getShelters(map);
                        $(this).toggleClass('enabled disabled');
                        $(this).text('hide shelters');
                    }
                    else if ($(this).hasClass('disabled') == true) {
                        map.removeLayer(sheltersLayer);
                        $(this).toggleClass('enabled disabled');
                        $(this).text('show shelters');
                    }
                };
                return container;
            }
        });
        map.addControl(new btnShelters());
        var btnLocateMe = L.Control.extend({
            options: {
                position: 'bottomleft'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('a', 'btn-floating btn-large waves-effect waves-light');
                var icon = L.DomUtil.create('i', 'material-icons locate-me', container);

                container.onclick = function () {
                    locate($(this));
                };
                return container;
            }
        });
        map.addControl(new btnLocateMe());
        $('i.material-icons.locate-me').text('my_location');

        var btnNearby = L.Control.extend({
            options: {
                position: 'topright'
            },
            onAdd: function (map) {
                var button = L.DomUtil.create('a', 'center-align waves-effect waves-light btn enabled');
                button.text = 'nearby';
                button.style.width = '200px';

                button.onclick = function () {
                    findNearby();
                };
                return button;
            }
        });
        map.addControl(new btnNearby());
    });
</script>
</body>
</html>