<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDT - Cimerman</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
</head>
<body>
<div id="map-view"></div>
<script>
    $(document).ready(function () {
        var map = initMap();

        var btnShelters = L.Control.extend({
            options: {
                position: 'topright'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('a', 'center-align waves-effect waves-light btn enabled');
                container.text = "Show shelters";
                container.style.width = '200px';

                container.onclick = function () {
                    if ($(this).hasClass('enabled') == true) {
                        sheltersLayer = getShelters(map);
                        $(this).toggleClass('enabled disabled');
                        $(this).text('hide shelters');
                    }
                    else if ($(this).hasClass('disabled') == true) {
                        map.removeLayer(sheltersLayer);
                        $(this).toggleClass('enabled disabled');
                        $(this).text('show shelters');
                    }
                };
                return container;
            }
        });
        map.addControl(new btnShelters());
        var btnLocateMe = L.Control.extend({
            options: {
                position: 'bottomleft'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('a', 'btn-floating btn-large waves-effect waves-light');
                var icon = L.DomUtil.create('i', 'material-icons locate-me', container);

                container.onclick = function () {
                    locate($(this));
                };
                return container;
            }
        });
        map.addControl(new btnLocateMe());
        $('i.material-icons.locate-me').text('my_location');

        var btnNearby = L.Control.extend({
            options: {
                position: 'topright'
            },
            onAdd: function (map) {
                var button = L.DomUtil.create('a', 'center-align waves-effect waves-light btn enabled');
                button.text = 'nearby';
                button.style.width = '200px';

                button.onclick = function () {
                    var radius = $('span.thumb.active span').text() || 25;
                    findNearby(radius * 100);
                };
                return button;
            }
        });
        map.addControl(new btnNearby());

        var sliderNearby = L.Control.extend({
            options: {
                position: 'bottomright'
            },
            onAdd: function(map) {
                var slider = L.DomUtil.create('input', 'slider-nearby');
                slider.type = 'range';
                slider.min = 0; slider.max = 100;

                slider.onclick = function (e) {
                    var radius = $('span.thumb.active span').text() || 25;
                    updateMarker(radius * 100);
                };

                return slider;
            }
        });
        map.addControl(new sliderNearby());

        var btnNearbyCity = L.Control.extend({
            options: {
                position: 'topright'
            },
            onAdd: function (map) {
                var button = L.DomUtil.create('a', 'center-align waves-effect waves-light btn enabled');
                button.text = 'nearby to city';
                button.style.width = '200px';

                button.onclick = function () {
                    var radius = $('span.thumb.active span').text() || 25;
                    findNearbyCity(radius * 100);
                };
                return button;
            }
        });
        map.addControl(new btnNearbyCity());
    });
</script>
</body>
</html>